<div class="album-show row">
  <div class="col-md-6">
    <%=image_tag @album.image, class: 'image' %>
  </div>
  <div class="col-md-6">
    <div class="user">
      <%= link_to "Uploaded By : #{@album.user.email.split('@')[0]}", user_path(@album.user), class: 'username' %>
    </div>
    <div class="user">
      <%= link_to "Owner : #{@album.owner}", "#", class: 'username' %>
    </div>
    <div class="album-name">
      <%= @album.name %>
    </div>
    <div class="photo-show row">
      <%= link_to 'Add Photo', new_photo_path(album_id: @album.id), class: "btn btn-primary add-photo"%>
    </div>
  </div>
</div>
<div class="photo-show row">
  <div class="user-images">
    <% @album.photos.order(created_at: :desc).each do |photo|%>
      <div class="wrapper">
        <%=image_tag photo.image %>
      </div>
    <% end %>
  </div>
</div>